.hidden {
  display: none;
}

.page-content {
  margin-top: 51px;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tab-header {
  margin: 0px -16px 0px;
  text-align: left;
  padding: 16px 64px 16px;
}

.tab-content {
  margin: 0px -16px 0px;
  padding: 16px 64px 16px;
}

.tab-footer {
  margin: 0px -16px 0px;
  text-align: right;
  padding: 16px;
}

.row-team {
  margin: 20px 0px 20px;
}


.card-name {
  padding: 16px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #c4c4c4;
}

.team-table {
  table-layout: fixed;
  width: 100%;
}

.cell-team-members {
  width: 73%;
  padding: 0px;
}

.cell-team-issues {
  width: 25%;
  padding: 0px;
}

.cell-divider {
  width: 2%;
}



body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
.w3-bar,
h1,
button {
  font-family: "Montserrat", sans-serif;
}
.fa-anchor,
.fa-coffee {
  font-size: 200px;
}
